Tipos secuenciales

- Estructuras de datos secuenciales: range. list, tuple, set, dict

a = range(3)        a = range(0,3,1)      a = range(5,10,2)
 for i in a:         for i in a:            for i in a:
   print(i)            print(i)               print(i)

- El range es muy útil para hacer un iterador rápido

In [1]:
a = range(5,10,2)
for i in a:
    print(i)

5
7
9

Tupla: estructura de datos secuencial en la que vamos a tener varios valores

- Objeto inmutable de longitud fija ----> Significa que no vamos a cambiar sus valores una vez definido

 t = (1, 2, 3)

 - Indexado por posición en la secuencia 

 print(t[0])
 print(t[1])
 print(t[2])

 Longitud de la secuencia
  
  len(t)  3

Operaciones

Si sumamos dos tuplas lo que haremos es concatenarlas:

t1 = (1,2,3)
t2 = (4,5,6)
print(t1 + t2)

Multiplicar una tupla por un número

t = (1,2,3)
print(3 * t)

Extracción: Operación de desestructuración. Si sabemos que tenemos tres valores podemo hacer el ejemplo de abajo:

t = (1,2,3)
a,b,c = t
print(a,b,c)

- Ejemplo de una tupla
podemos tener valores de diferente tipo
  
     t = (1, "hola", True)

Iteración 

    for item in t:
    print(item)

In [2]:
t = (1, "hola", True)
t

(1, 'hola', True)